:root {
    --primary-color: black;
    --gray-color: #e6e6e6;
    --secondary-color: #353535;
    --drak-gray: #a8a8a8;
    --lato-font: "Lato", sans-serif;
}

body {
    font-size: 16px;
}

/* Common */
.font-600 {
    font-weight: 600;
}
.text-black {
    color: black;
}

.font-lato {
    font-family: var(--lato-font);
}

.container-custom {
    width: 90%;
    margin: 0 auto;
}

.pointer {
    cursor: pointer;
}

.btn-4 {
    background-color: black;
    color: white;
    padding: 15px 33px;
    margin: 0 auto;
    font-size: 0.9rem;
    text-decoration: none;
    position: relative; /* Ensures correct positioning */
    overflow: hidden;
    display: inline-block;
    box-shadow: none; /* Prevent Bootstrap box-shadow */
}
.btn-4-white {
    background-color: white;
    color: black;
    padding: 13px 32px;
    font-size: 1rem;
    font-family: var(--lato-font);
    text-decoration: none;
    position: relative; /* Ensures correct positioning */
    overflow: hidden;
    display: inline-block;
    box-shadow: none; /* Prevent Bootstrap box-shadow */
}

.btn-4 span {
    position: relative;
    z-index: 20;
}
.btn-4-white span {
    position: relative;
    z-index: 20;
}

.btn-4::after {
    content: "";
    position: absolute;
    left: -75px;
    top: -50px;
    width: 10px;
    height: 155px;
    background: white;
    opacity: 0.2;
    transform: rotate(25deg);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
}
.btn-4-white::after {
    content: "";
    position: absolute;
    left: -75px;
    top: -50px;
    width: 10px;
    height: 155px;
    background-color: white;
    opacity: 0.5;
    transform: rotate(25deg);
    transition: all 1500ms cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
}
.btn-4:hover {
    color: white;
}
.btn-4-white:hover {
    color: black;
    background-color: #dedede;
}
.btn-4:hover::after {
    left: 120%;
}
.btn-4-white:hover:after {
    left: 120%;
}

/* Navbar */
.navbar {
    font-family: "Lato", sans-serif;
}
.navbar .navbar-logo-section {
    background-color: var(--gray-color);
    width: 22rem;
    height: 8rem;
    border-right: 1px solid #d3d3d3;
}
.navbar .navbar-logo {
    width: 13.25rem;
    object-fit: contain;
}
.navbar .navbar-top-section {
    border-bottom: 1px dashed var(--drak-gray);
    font-size: 15px;
}
.navbar .nav-link {
    padding: 0;
    color: black !important;
    font-weight: 700;
    margin-left: 0.4rem;
}
.navbar .navbar-top-section .icon {
    font-size: 1.5rem;
}

/* Hide the checkbox */
#menu_checkbox {
    display: none;
}

/* Style the label to look like a button */
label[for="menu_checkbox"] {
    display: inline-block;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Style for the divs inside the label to look like a hamburger menu */
label[for="menu_checkbox"] div {
    width: 27px;
    height: 2px;
    background-color: black;
    margin: 5px 0;
    transition: transform 0.3s;
}

/* Rotate the divs to form a cross when checked */
#menu_checkbox:checked + label div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

#menu_checkbox:checked + label div:nth-child(2) {
    opacity: 0;
}

#menu_checkbox:checked + label div:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Style the collapse menu to open from left to right */
.navbar-collapse {
    position: absolute;
    top: 0;
    left: 0%;
    height: 100vh;
    width: 255px;
    background-color: var(--gray-color);
    z-index: 1050;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

#menu_checkbox:checked ~ .navbar-collapse {
    transform: translateX(0);
}

/* Hero section */

.hero-section {
    width: 100%;
    height: 94vh;
}
.home-page-hero {
    background-image: url("../images/home.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.hero-section .hero-intro-section {
    background-color: #ffffff9c;
    max-width: 530px;
}
.hero-section .hero-intro-section .intro-content {
    font-family: var(--lato-font);
    font-weight: 700;
    color: black;
    text-align: center;
    font-size: 2.2rem;
}

/* Services Section */
.services-section {
    background-color: #f5f3f3;
}
.services-section .service-heading-border {
    width: 3.6rem;
    height: 3px;
    background: black;
}
.services-section .services-section-para {
    text-align: justify;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.9rem;
    font-family: var(--lato-font);
    color: #383838;
}
.services-section .service-card {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: 0.17rem;
    height: 423px;
    flex: 1;
}
.services-section .service-card .card-border {
    width: 100%;
    height: 0.25rem;
    background-color: var(--drak-gray);
}
.services-section .service-card .card-border .card-inner-border {
    height: 100%;
    top: 0;
    width: 30%;
    left: 0;
    background-color: var(--secondary-color);
    transition: 0.2s all ease-in-out;
}
.services-section .service-card .card-content {
    font-size: 1.15rem;
    font-weight: 300;
}
.services-section .service-card .inner-section {
    height: 87%;
}
/* When hovering over .service-card */
.services-section .service-card:hover .card-inner-border {
    width: 100%;
}
.services-section .service-card:hover .btn-4-white {
    color: black;
    background-color: #dedede;
}
.custom-flex .service-card {
    flex: 1 1 calc(33.333% - 1rem);
}

/* Fleet Section */
.heading-border {
    margin: auto;
    width: 3.6rem;
    height: 3px;
    background: black;
}

.fleet-section .slick-list {
    overflow-y: visible !important;
}
.fleet-section .fleet-cards .fleet-card {
    width: 414px;
    padding: 0 15px;
    overflow-y: visible;
    transition: all ease-in-out 0.3s;
    /* transform: translateY(-20px); */
}
.fleet-card .fleet-card-border-bottom {
    width: 100%;
    height: 6px;
    background-color: black;
    margin-top: -2px;
}
.fleet-section .fleet-card .fleet-card-inner {
    box-shadow: 0 0px 6px 0px rgba(0, 0, 0, 0.1);
    border: 2px solid #e6e6e6dc;
}
.fleet-section .fleet-card .fleet-card-inner .fleet-card-image {
    width: 100%;
    height: 217px;
    overflow: hidden;
}
.fleet-section .fleet-card .fleet-card-inner .fleet-card-image .image-shade {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 0%;
    transition: all 1s ease;
    background-color: rgba(255, 255, 255, 0.158);
}
.fleet-section .fleet-card .fleet-card-inner .fleet-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image scales proportionally */
    transition: transform 2s ease;
}
.fleet-section .fleet-card .fleet-card-inner .fleet-btn {
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.1);
}
.fleet-section .fleet-card:hover {
    transform: translateY(-20px);
}
.fleet-section .fleet-card:hover .fleet-card-inner .fleet-card-image img {
    transform: scale(1.05);
}
.fleet-section
    .fleet-card:hover
    .fleet-card-inner
    .fleet-card-image
    .image-shade {
    z-index: 9999;
    height: 100%; /* Expand the shade to full height on hover */
}
.slick-prev,
.slick-next {
    background-color: white !important; /* White background */
    color: black; /* Black arrow color */
    border: 1px solid #ddd; /* Light border */
    border-radius: 50%; /* Circular shape */
    width: 60px !important; /* Button width */
    height: 60px !important; /* Button height */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 25px 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    z-index: 1000;
    transition: all 0.3s ease; /* Smooth hover effect */
}
.slick-prev:hover,
.slick-next:hover {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.slick-prev:hover .arrows {
    color: white !important;
}
.slick-next:hover .arrows {
    color: white !important;
}

.slick-prev {
    top: 118% !important;
    left: 44.2% !important;
}
.slick-next {
    top: 118% !important;
    right: 44.2% !important;
}
.slick-prev span,
.slick-next span {
    font-size: 0.9rem;
    line-height: 1;
    color: black;
    opacity: 1;
}
.slick-prev:before {
    content: "" !important;
}
.slick-next:before {
    content: "" !important;
}
.slick-next .arrows {
    transform: translateY(-0.1rem);
}
.slick-prev .arrows {
    transform: translateY(-0.1rem);
}

/* Fleet Page */
.fleet-page-hero {
    background-image: url("../images/fleets.webp");
    background-attachment: fixed;
}
.fleet-page-hero .fleet-intro-section {
    max-width: 570px;
}

/* About Page */
.about-hero {
    background-image: url("../images/about.webp");
}

.about-section .heading-border {
    margin: 0;
    width: 3.6rem;
    height: 3px;
    background: black;
}
.about-section .about-para {
    font-size: 1.15rem;
    font-weight: 500;
    line-height: 1.9rem;
    font-family: var(--lato-font);
    color: #383838;
    line-height: 2rem;
    text-align: justify;
}
.star {
    color: #ffd820;
    font-size: 0.9rem;
}
.review-slider {
    width: 68%;
    margin: auto;
}
.review-slider .review-description {
    color: white;
    font-size: 1.15rem;
    font-style: italic;
    text-align: center;
    font-weight: 500;
}
.google-review {
    color: rgb(165, 164, 164);
    font-weight: 500;
}
.slick-prev-btn {
    background-color: rgb(58, 57, 57);
    color: white;
    font-size: 0.8rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 130px;
    left: -120px;
    border: none;
    position: absolute;
    transition: all ease-in-out 0.3s;
}
.slick-prev-btn:hover {
    background-color: black;
    color: white;
}
.slick-next-btn {
    background-color: rgb(58, 57, 57);
    color: white;
    font-size: 0.8rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 130px;
    right: -120px;
    border: none;
    position: absolute;
    transition: all ease-in-out 0.3s;
}
.slick-next-btn:hover {
    background-color: black;
    color: white;
}
.review-slider .slick-dots li {
    border-radius: 50%;
    position: relative;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: gray;
}
.review-slider .slick-dots .slick-active {
    width: 12px !important;
    height: 12px !important;
}
.review-slider .slick-dots {
    align-items: center;
    display: flex;
    justify-content: center;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: none !important;
    width: 0px !important ;
    height: 0px;
    padding: 0px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}
.fade-in-delayed {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 1s;
}

.slide-top {
    -webkit-animation: slide-top 1s ease-in both;
    animation: slide-top 1s ease-in both;
}
.slide-bottom {
    -webkit-animation: slide-bottom 1s ease-in both;
    animation: slide-bottom 1s ease-in both;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease-in-out;
}

.animate-on-scroll.in-view {
    opacity: 1;
    transform: translateY(0);
}

.animate-from-top {
    opacity: 0;
    transform: translateY(-20px);
    transition: all 1s ease-in-out;
}

.in-view-from-top {
    opacity: 1;
    transform: translateY(0);
}

@media (min-width: 1200px) {
    header .navbar-expand-xl .navbar-collapse {
        display: none !important;
    }
}
@media screen and (max-width: 1199px) {
    header .navbar-expand-xl .navbar-collapse {
        display: block !important;
    }

    .navbar .navbar-logo-section {
        background-color: white;
        width: 11rem;
        height: 5rem;
        border-right: 0;
    }
    .navbar .navbar-logo {
        width: 100%;
        object-fit: contain;
    }

    .navbar .nav-link {
        padding: 0;
        color: black !important;
        font-size: 0.95rem;
        font-weight: 700;
        margin-left: 0rem;
    }

    .custom-flex .service-card {
        flex: 1 1 calc(30% - 1rem);
    }
    .services-section .service-card {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .services-section .service-card .card-content {
        font-size: 1rem;
    }

    .slick-prev {
        top: 118% !important;
        left: 40.2% !important;
    }
    .slick-next {
        top: 118% !important;
        right: 40.2% !important;
    }

    .about-section {
        width: 98%;
    }
    .review-container {
        width: 98%;
    }
}
@media (max-width: 991px) {
    .custom-flex .service-card {
        flex: 1 1 calc(50% - 1rem); /* Two cards per row on medium screens */
    }
}
@media screen and (max-width: 767px) {
    .hero-section {
        width: 100%;
        height: 61vh;
    }
    .hero-section .hero-intro-section .intro-content {
        font-size: 1.8rem;
    }

    .services-section .services-section-para {
        margin-top: 3rem;
        font-size: 1rem;
    }

    .fleet-section .fleet-cards .fleet-card {
        width: 414px;
        padding: 0 5px;
    }

    .slick-prev {
        top: 118% !important;
        left: 35.2% !important;
    }
    .slick-next {
        top: 118% !important;
        right: 35.2% !important;
    }

    .review-container {
        width: 100%;
    }

    .slick-prev-btn {
        left: -50px;
    }
    .slick-next-btn {
        right: -50px;
    }
}
@media screen and (max-width: 575px) {
    .custom-flex .service-card {
        flex: 1 1 100%; /* One card per row on small screens */
    }

    .slick-prev {
        top: 118% !important;
        left: 25.2% !important;
    }
    .slick-next {
        top: 118% !important;
        right: 25.2% !important;
    }
}
